<!DOCTYPE html>
<html>
    <head>
<title>About Alpha-Blog</title>

    <style>
    
        body {
            color: white;
            text-align: center;
            background: linear-gradient(black, darkred) no-repeat; background-size:2160px 800px;
           
        }
    </style>
    </head>
    <body>
        

        <h1>About us</h1>
        <p>This is where information about me will be placed.</p>

        <footer>
            
            <p>This page was made by: Karl Magsig, Web programming guru in training.</p>
            <%= link_to 'Take me Home', root_path %>
        </footer>

    </body>

</html>