<!DOCTYPE html>
<html>
<head>
<title>Numbers-Wiki</title>

    
</head>
<body>

    <div class="center jumbotron">
        <h1>Numbers and their Meanings</h1>
        <%= link_to "Articles List", articles_path, class: "btn btn-danger btn-lg btn-xlarge" %>
    </div>
    

</body>
</html>

