<div class="container">
    <footer class="footer">
        <small>
            <p>This page was made by: Karl Magsig, Web programming guru in training.</p>
        </small>
        <nav>
            <ul>
                <lil><%= link_to 'About us ', about_path %> | <%= link_to ' List articles', articles_path %></li>
            </ul>
        </nav>
    </footer>
</div>